p {
    color: blue;
}

span {
    color: red;
    background-color: black;
}

h1 {
    font-family: cursive;
    font-size: 50px;
    color: green;
}

td {
    border: 2px dotted green;
    text-align: center;
}

table {
    border: 10px dotted;
}

th {
    border: dashed blue;
}

a {
    color: black;
    text-decoration: line-through;
}

img {
    height: 500px;
    width: 500px;
}

div {
    height: 50px;
    width: 120px;
    border-color: #000000;
    background-color: #00e5ee;
    border-style: 2px solid;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    color: blue;
    font-family: cursive;
}

div div {
    height: 75px;
    width: 120px;
    border-color: #000000;
    background-color: #00e5ee;
    border-style: 2px solid;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    color: blue;
    font-family: cursive;
}

div div a {
    text-decoration: none;
    color: green;
}

/*Also note, you can make a selector with the '*' symbol to change */
/*everything in the document?*/

.heading1 {
    color: blue;
    text-decoration: underline;
    font-size: 40px;
}

#id1 {
    color: green;
    text-align: center;
    font-family: Courier;
}
